@import "tailwindcss";

:root {
  --background: #00243c;
  --foreground: #fdfdfd;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.font-plus-jakarta {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
